body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
}
body > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
body, a:link, a:visited, a:active{
  
}
/*.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}*/
/*.topbar{
  height:32px;
  background-color: #555;
}*/
/*.title{
  background-color: #777;
}*/
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.puffer {
  border: 0;
  border-radius: 0;
  background : url(http://i.imgur.com/jKfzpXI.png);
  display : block;
  height: 120px;
  width: 170px;
}

.puffer:hover{
  background-position: -170px
}

.puffer:active{
  background-position: -350px
}

.lineUpButton {
   padding:5px 12px;
   float:right;
   border-radius: 5px;
   color: grey;
   cursor: pointer;
   display: inline-block;
   letter-spacing: .5px;
   margin: 0,10,0,20;
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 100;
}
.slideDancerButton {
   padding:5px 12px;
   float:right;
   border-radius: 5px;
   color: grey;
   cursor: pointer;
   display: inline-block;
   letter-spacing: .5px;
   margin: 0,10,0,20;
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 100;
}
.fish {
  width: 100px;
  height: 60px;
  background: url(http://www.clipartsheep.com/images/348/transparent-background-fish-latticed-butterfly-348894.png);
  background-size: cover;
  transform: rotate(-30deg);
  border: 0;
  border-radius: 0;
  z-index: 1;
}

.shark {
  background-color: black;
  width: 230px;
  height: 210px;
  background: url(http://i.imgur.com/rMsGafK.gif);
  background-size: 100% 100%;
  border: 0;
  border-radius: 0;
  background-repeat: no-repeat;
}

.patrick {
  background-color: black;
  width: 150px;
  height: 180px;
  background: url(http://i.giphy.com/kpbFOxHZqu5eU.gif);
  background-size: 100% 100%;
  border: 0;
  border-radius: 0;
  background-repeat: no-repeat; 
}

.btn{
  padding:5px 12px;
  float:right;
  color: #4d4d4d;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .5px;
  margin: 0,10,0,20;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 100;
  text-decoration: none;
}

